# MariaDB settings
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
DB_PORT=
# API settings
TskMgr_DatabaseProvider=mariadb
TskMgr_ConnectionStrings__MariaDbConnection=""
TskMgr_Jwt__Issuer=TaskManagementSystem.WebApi
TskMgr_Jwt__Audience=MyClient
TskMgr_Jwt__SecretKey=""
API_PORT=5003